.Rproj.user
.Rhistory
.RData
man/gvisAnnotatedTimeLine.Rd
man/gvisAnnotationChart.Rd
man/gvisAreaChart.Rd
man/gvisBarChart.Rd
man/gvisBubbleChart.Rd
man/gvisCalendar.Rd
man/gvisCandlestickChart.Rd
man/gvisColumnChart.Rd
man/gvisComboChart.Rd
man/gvisGauge.Rd
man/gvisGeoChart.Rd
man/gvisGeoMap.Rd
man/gvisHistogram.Rd
man/gvisIntensityMap.Rd
man/gvisLineChart.Rd
man/gvisMap.Rd
man/gvisMotionChart.Rd
man/gvisOrgChart.Rd
man/gvisPieChart.Rd
man/gvisSankey.Rd
man/gvisScatterChart.Rd
man/gvisSteppedAreaChart.Rd
man/gvisTable.Rd
man/gvisTimeline.Rd
man/gvisTreeMap.Rd
man/renderGvis.Rd
