language: r
r:
  - release
  - devel

cache: packages

r_build_args: "--compact-vignettes=gs+qpdf"

addons:
  apt:
    packages:
      - qpdf

warnings_are_errors: true

notifications:
  email:
    on_success: change
    on_failure: change

repos:
  CRAN: https://cloud.r-project.org
  ropensci: http://packages.ropensci.org