# Sample .travis.yml for R projects

language: r
warnings_are_errors: true
sudo: required

env:
 global:
   - CRAN: http://cran.rstudio.com
   - R_BUILD_ARGS="--compact-vignettes=both"

notifications:
  email:
    on_success: change
    on_failure: change
