importFrom(grDevices)		 
importFrom(methods, setMethod)		 
importFrom(utils, packageDescription)		 
importFrom("RJSONIO", "toJSON")		 
export(gvisMotionChart, gvisTable, gvisGeoMap,gvisTreeMap,gvisMap, gvisAnnotatedTimeLine)		 
export(gvisScatterChart, gvisPieChart, gvisOrgChart, gvisIntensityMap)		 
export(gvisLineChart, gvisAreaChart, gvisBarChart, gvisColumnChart, gvisGauge)		 
export(gvisGeoChart, gvisComboChart)		 
export(gvisCandlestickChart, gvisSteppedAreaChart)		 
export(gvisMerge)		 
## export(gvisSparkline)		 
## export(,gvisChartEditor)		 
export(createGoogleGadget)		 
			 
#Methods		 
S3method(plot, gvis)		 
S3method(print, gvis)
