<% setContentType("text/html") %>

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> 
<body>


<h1>Hurricane Andrew</h1>

<%
 require(googleVis)
 AndrewGeoMap <- gvisGeoMap(Andrew, locationvar="LatLong", numvar="Speed_kt",
                          hovervar="Category",
                          options=list(width=800,height=400, region="US"))

 AndrewTable <- gvisTable(Andrew,options=list(width=800))

 AndrewMap <- gvisMap(Andrew, "LatLong" , "Tip",
                           options=list(showTip=TRUE, showLine=TRUE, enableScrollWheel=TRUE,
                           mapType='hybrid', useMapTypeControl=TRUE,
			   width=800,height=400))

%>
<hr>
<%= AndrewMap$html$chart %>
<hr>
<%= AndrewGeoMap$html$chart %>
<hr>
<%= AndrewTable$html$chart %>
<!--
<hr>
Original code for this page:
<pre>
<% print(gsub(">","&gt;",gsub("<","&lt;",readLines("/Library/WebServer/Documents/rapache/brew/andrew.html")))) %>
</pre>
-->
</body>
</html>